distributed>=2.0
ipykernel
ipython
furo
jupyter_client
matplotlib
nbsphinx
nc-time-axis
netCDF4
pandoc
pooch
pre-commit
sphinx
sphinx-click
sphinx-codeautolink
sphinx-copybutton
sphinx>=7.0.0
sphinxcontrib-confluencebuilder
