envlist = [
  "lint",
  "py3.{10,11,12}",
  "docs"
]
skip_missing_interpreters = true

[env.docs]
extras = ["docs"]
commands = [
  ["make", "autodoc"],
  ["make", "--directory=docs", "clean", "html"]
]
commands_post = []
allowlist_externals = ["make"]

[env.lint]
skip_install = true
deps = [
  "flake8 >= 7.3.0",
  "flake8-rst-docstrings >= 0.4.0",
  "ruff >= 0.14.3",
  "numpydoc >= 1.9.0"
]
commands = [["make", "lint"]]
commands_post = []
allowlist_externals = ["make"]

[env_run_base]
setenv = {PYTEST_ADDOPTS = "--color=yes --cov=xdatasets --cov-report=lcov", PYTHONPATH = "{toxinidir}"}
passenv = ["CI", "COVERALLS_*", "ESMFMKFILE", "ESMF_VERSION", "GITHUB_*"]
extras = ["dev", "extra"]
download = true
install_command = ["python", "-m", "pip", "install", "--no-user", "{opts}", "{packages}"]
deps = [
  "git+https://github.com/esmf-org/esmf.git@{env:ESMF_VERSION}#subdirectory=src/addon/esmpy"
]
commands_pre = [["pip", "list"], ["pip", "check"]]
commands = [
  ["pytest", "{posargs}"]
]
commands_post = [
  ["coverage", "report"]
]

[gh.python]
"3.10" = ["py3.10"]
"3.11" = ["py3.11"]
"3.12" = ["py3.12"]
"3.13" = ["py3.13"]
"3.14" = ["py3.14"]
