name: "Bump Patch Version"

on:
  push:
    branches:
      - master
    paths-ignore:
      - .cruft.json
      - .editorconfig
      - .github/**.yml
      - .gitignore
      - .gitlab-ci.yml
      - .gitmodules
      - .pre-commit-config.yaml
      - .yamllint.yaml
      - AUTHORS.rst
      - CHANGES.rst
      - CONTRIBUTING.rst
      - doc/notebooks
      - doc/*.py
      - doc/*.rst
      - environment-dev.yml
      - environment.yml
      - Makefile
      - MANIFEST.in
      - pyproject.toml
      - requirements_upstream.txt
      - setup.py
      - tests/**.py
      - tox.ini
      - xdatasets/__init__.py

permissions:
  contents: read

jobs:
  bump_patch_version:
    runs-on: ubuntu-latest
    permissions:
      actions: read
      contents: write
    steps:
      - uses: actions/checkout@v4.1.1
        with:
          persist-credentials: false
      - uses: actions/setup-python@v5.0.0
        with:
          python-version: "3.x"
      - name: Config Commit Bot
        run: |
          git config --local user.email "bumpversion[bot]@hydrologie.com"
          git config --local user.name "bumpversion[bot]"
      - name: Current Version
        run: echo "current_version=$(grep -E '__version__'  xdatasets/__init__.py | cut -d ' ' -f3)"
      - name: Bump Patch Version
        run: |
          pip install bump-my-version
          echo "Bumping version"
          bump-my-version bump --tag patch
          echo "new_version=$(grep -E '__version__'  xdatasets/__init__.py | cut -d ' ' -f3)"
      - name: Push Changes
        uses: ad-m/github-push-action@v0.8.0
        with:
          force: false
          github_token: ${{ secrets.BUMP_VERSION_TOKEN }}
          branch: ${{ github.ref }}
